---
layout: inner
title: 'Support'
---

<div class="container">
  <div class="row">

    <table>
      <tr>
        <td valign="top" width="50%" style="padding: 0px 50px 0px 50px;">
      		<h3>{{ site.direct_support.title }}</h3>
      		<p>{{ site.direct_support.description }}</p>
      		<ul>
      			{% if site.direct_support.email %}<li>email: <a href="mailto: {{ site.direct_support.email }}">{{ site.direct_support.email }}</a></li>{% endif %}
      			{% if site.direct_support.phone %}<li>phone: {{ site.direct_support.phone }}}</li>{% endif %}
      			{% if site.direct_support.ticket_url %}<li><a href="{{ site.direct_support.ticket_url }}">{{ site.direct_support.ticket_label }}</a></li>{% endif %}
      			{% if site.direct_support.chat_url %}<li><a href="{{ site.direct_support.chat_url }}">{{ site.direct_support.chat_label }}</a></li>{% endif %}
      		</ul>
      		<p>{{ site.direct_support.footer }}</p>
        </td>
        <td valign="top" width="50%" style="padding: 0px 50px 0px 50px;">
      		<h3>{{ site.self_service_support.title }}</h3>
      		<p>{{ site.self_service_support.description }}</p>
      		<ul>
      			<li><a href="{{ site.self_service_support.github_issues_url }}">{{ site.self_service_support.github_issues_label }}</a></li>
            <li><a href="{{ site.self_service_support.forum_url }}">{{ site.self_service_support.forum_label }}</a></li>
            <li><a href="{{ site.self_service_support.stack_exchange_url }}">{{ site.self_service_support.stack_exchange_label }}</a></li>
      		</ul>
      		<p>{{ site.direct_support.footer }}</p>
        </td>
      </tr>
    </table>
	</div>
</div>
