---
layout: page
---

<div class="jumbotron" style="padding-bottom: 5px;">
  <div class="container">
    <h3>{{ site.portal_name }}</h3>
    <p>{{ site.portal_description }}</p>
    <p><a class="btn btn-primary btn-lg" href="/getting-started/" role="button">Getting Started &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-md-4">
    <h4>Latest Blog</h4>
    <ul>
      {% for post in site.posts limit:3 %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>APIs (Full Documentation)</h4>
    <ul>
      {% for path in site.api.paths limit:25 %}
        {% assign path_name = path[0] %}
        {% assign path_detail = path[1] %}
        {% for verb in path_detail %}
          {% assign verb_name = verb[0] %}
          {% assign verb_detail = verb[1] %}
          <li><a href="/documentation/#{{ post.url }}">{{ path_name }}</a> ({{ verb_name | upcase }})</li>
        {% endfor %}
      {% endfor %}
    </ul>
 </div>
  <div class="col-md-4">
    <h4>Support</h4>
    <ul>
      <li>One</li>
      <li>Two</li>
    </ul>
  </div>
</div>
<hr>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <center>
      <div class="col-md-12">
        {% if site.code.sdks.php_url %}<a href="{{ site.code.sdks.php_url }}"><i class="devicon-php-plain"></i></a>{% endif %}
        {% if site.code.sdks.python_url %}<a href="{{ site.code.sdks.python_url }}"><i class="devicon-python-plain"></i></a>{% endif %}
        {% if site.code.sdks.javascript_url %}<a href="{{ site.code.sdks.javascript_url }}"><i class="devicon-javascript-plain"></i></a>{% endif %}
        {% if site.code.sdks.java_url %}<a href="{{ site.code.sdks.java_url }}"><i class="devicon-java-plain"></i></a>{% endif %}
        {% if site.code.sdks.csharp_url %}<a href="{{ site.code.sdks.csharp_url }}"><i class="devicon-csharp-plain"></i></a>{% endif %}
        {% if site.code.sdks.go_url %}<a href="{{ site.code.sdks.go_url }}"><i class="devicon-go-plain"></i></a>{% endif %}
        {% if site.code.sdks.ruby_url %}<a href="{{ site.code.sdks.ruby_url }}"><i class="devicon-ruby-plain"></i></a>{% endif %}
      </div>
    </center>
  </div>
</div>
<hr>
