---
layout: inner
title: '{{ site.code.title }}'
---

<div class="container">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-9">
		{% if site.code.image %}<img src="{{ site.code.image }}" align="right" width="15%" style="padding: 15px;" />{% endif %}
		<h3>{{ site.code.title }}</h3>
		<p>{{ site.code.description }}</p>

    {% if site.code.sdks.php_url %}<a href="{{ site.code.sdks.php_url }}"><i class="devicon-php-plain"></i></a>{% endif %}
    {% if site.code.sdks.python_url %}<a href="{{ site.code.sdks.python_url }}"><i class="devicon-python-plain"></i></a>{% endif %}
    {% if site.code.sdks.javascript_url %}<a href="{{ site.code.sdks.javascript_url }}"><i class="devicon-javascript-plain"></i></a>{% endif %}
    {% if site.code.sdks.java_url %}<a href="{{ site.code.sdks.java_url }}"><i class="devicon-java-plain"></i></a>{% endif %}
    {% if site.code.sdks.csharp_url %}<a href="{{ site.code.sdks.csharp_url }}"><i class="devicon-csharp-plain"></i></a>{% endif %}
    {% if site.code.sdks.go_url %}<a href="{{ site.code.sdks.go_url }}"><i class="devicon-go-plain"></i></a>{% endif %}
    {% if site.code.sdks.ruby_url %}<a href="{{ site.code.sdks.ruby_url }}"><i class="devicon-ruby-plain"></i></a>{% endif %}

		<p>{{ site.code.footer }}</p>
    </div>
    <div class="col-md-1"></div>

	</div>
</div>
