---
layout: inner
title: '{{ site.issues.title }}'
---

<div class="container">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-9">

  		{% if site.issues.image %}<img src="{{ site.issues.image }}" align="right" width="15%" style="padding: 15px;" />{% endif %}
  		<h3>{{ site.issues.title }}</h3>
  		<p>{{ site.issues.description }}</p>
      {% if site.issues.status_url %}<p><strong>Status Page:</strong> {{ site.issues.status_url }}</p>{% endif %}
      <ul>
  	  {% for entry in site.issues.entries %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a> ({{ entry.date }}) - {{ entry.details }}</li>
      {% endfor %}
      </ul>

  		<p>{{ site.issues.footer }}</p>

  </div>
  <div class="col-md-1"></div>

	</div>
</div>
