---
layout: inner
title: '{{ site.communication.title }}'
---

<div class="container">
  <div class="row">

		{% if site.communication.image %}<img src="{{ site.communication.image }}" align="right" width="15%" style="padding: 15px;" />{% endif %}
		<h3>{{ site.communication.title }}</h3>
		<p>{{ site.communication.description }}</p>

    <center>
    <table border="0" style="border: 0px; width: 75%; margin-top: 10px; margin-bottom: 10px;">
      <tr>
        {% if site.communication.blog_url %}
          <td align="center"  >

              <a href="{{ site.communication.blog_url }}" target="_blank" title="Blog">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-blog-icon.png" width="43" align="center" />
              </a>

          </td>
        {% endif %}
        {% if site.communication.blog_rss_url %}
          <td align="center"  >

              <a href="{{ site.communication.blog_rss_url }}" target="_blank" title="Blog RSS">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="43" align="center" />
              </a>

          </td>
        {% endif %}
        {% if site.communication.blog_atom_url %}
          <td align="center"  >

              <a href="{{ site.communication.blog_atom_url }}" target="_blank" title="Atom Feed">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-atom-feed.png" width="43" align="center" />
              </a>

          </td>
        {% endif %}
        {% if site.communication.twitter_user %}
          <td align="center"  >

              <a href="https://twitter.com/{{ site.communication.twitter_user }}" target="_blank" title="Twitter">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-twitter-icon.png" width="50" align="center" />
              </a>

          </td>
        {% endif %}
        {% if site.communication.linkedin_user %}
          <td align="center"  >

              <a href="http://linkedin.com/{{ site.communication.linkedin_user }}" target="_blank" title="LinkedIn">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-linkedin.png" width="47" align="center" />
              </a>

          </td>
        {% endif %}
        {% if site.communication.github_user %}
          <td align="center"  >

              <a href="http://github.com/{{ site.communication.github_user }}" target="_blank" title="Github">
                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-github-icon.png" width="58" align="center" />
              </a>

          </td>
        {% endif %}
      </tr>
    </table>
    </center>

		<p>{{ site.communication.footer }}</p>
	</div>
</div>
