<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ site.portal_name }}</a>
          <ul class="nav navbar-nav">
            <li{% if page.title == site.portal_name %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{% if page.title == site.getting_started.title %} class="active"{% endif %}><a href="/getting-started/">Getting Started</a></li>
            <li{% if page.title == 'Documentation' %} class="active"{% endif %}><a href="/authentication/">Auth</a></li>
            <li{% if page.title == 'Documentation' %} class="active"{% endif %}><a href="/documentation/">Docs</a></li>
            <li{% if page.title == site.code.title %} class="active"{% endif %}><a href="/code/">Code</a></li>
            <li{% if page.title == site.communication.title %} class="active"{% endif %}><a href="/communications/">Communications</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Updates <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/change-log/">Change Log</a></li>
                <li><a href="/issues/">Issues</a></li>
                <li><a href="/road-map/">Road Map</a></li>
              </ul>
            </li>
            <li{% if page.title == 'Support' %} class="active"{% endif %}><a href="/support/">Support</a></li>
          </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">Sign Up</button>
          </form>
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer>
      <div class="container text-center">
        <ul class="nav navbar-nav text-center">
          <li><a href="/terms-of-service/">Terms of Service</a></li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
    </footer>

    <script src="https://s3.amazonaws.com/kinlane-productions/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
