---
layout: inner
title: '{{ site.change_log.title }}'
---

<div class="container">
  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-9">

  		{% if site.change_log.image %}<img src="{{ site.change_log.image }}" align="right" width="15%" style="padding: 15px;" />{% endif %}
  		<h3>{{ site.change_log.title }}</h3>
  		<p>{{ site.change_log.description }}</p>

      <ul>
  	  {% for entry in site.change_log.entries %}
        <li><a href="{{ entry.url }}">{{ entry.title }}</a> ({{ entry.date }}) - {{ entry.details }}</li>
      {% endfor %}
      </ul>

  		<p>{{ site.change_log.footer }}</p>

  </div>
  <div class="col-md-1"></div>

	</div>
</div>
