---
layout: inner
title: '{{ site.communication.title }}'
---

<div class="container">
  <div class="row">
		<img src="{{ site.communication.image }}" align="right" width="25%" style="padding: 15px;" />
		<h3>{{ site.communication.title }}</h3>
		<p>{{ site.communication.description }}</p>
		<ul>
			{% if site.communication.blog_url %}<li><a href="{{ site.communication.blog_url }}">Blog</a></li>{% endif %}
      {% if site.communication.blog_rss_url %}<li><a href="{{ site.communication.blog_rss_url }}">Blog RSS</a></li>{% endif %}
      {% if site.communication.blog_atom_url %}<li><a href="{{ site.communication.blog_atom_url }}">Blog Atom</a></li>{% endif %}
      {% if site.communication.twitter_user %}<li><a href="{{ site.communication.twitter_user }}">Twitter</a></li>{% endif %}
      {% if site.communication.linkedin_user %}<li><a href="{{ site.communication.linkedin_user }}">LinkedIn</a></li>{% endif %}
      {% if site.communication.github_user %}<li><a href="{{ site.communication.github_user }}">Github</a></li>{% endif %}
		</ul>
		<p>{{ site.communication.footer }}</p>
	</div>
</div>
